<!DOCTYPE html>
<html lang="en">
<head>
  <link type="text/css" href="../public/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HHB BANK</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>


<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img height="50px" width="50px" src="https://media-exp1.licdn.com/dms/image/C5603AQEyVLFSfD-5xg/profile-displayphoto-shrink_200_200/0/1646283389362?e=1657152000&v=beta&t=IS_ApV2yA2lnF3W_-99mYrDnMOiMd55drpL-HMaNzQQ" alt=""> </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active"  href="/">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/customers/new">NEWCUSTOMER</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/customers/transfer">TRANSFER</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
<main class="container mt-10">
       <%- body %>
</main>
 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>
